.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2px);
    background-image: linear-gradient(to bottom, #AED6F1, #EBF5FB);
}

.card-style {
    padding: 50px 10px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.image-style {
    width: 200px;
}

.btn-style {
    width: 100%
}

.btn-label {
    font-weight: 600;
}